header{

    display:flex;
    background-color: black;
}

.headers{
font-size: 15px;
color: white;
margin: 30px;
}

footer{
    display: flex;
    background-color: black;
    text-align: center;
}

.footers{
    color: white;
    font-size: 15px;
    text-align: center;
}

.section1{
    align-items: center;
}

.section2{
    display: flex;
}
